<div class="page-header">
	<h2 class="page-title"><%= song.title %></h2>
	<div class="header-wrapper">
		<div class="blank"><%= song.lineCount %> \ <%= song.id %></div>
		<h3 class="artist-name">terrorvision</h3>
	</div>
</div>

<div class="page-content">
	<p class="instructions">
		Go through each line. If you think a lyric is wrong then either: Click on
		that lyric to view all suggestion so far, and chose correct lyrics. or Click
		<i class="far fa-edit i-instructions"></i> to write the lyrics you think it
		should be. When you have been through each line. Smash update button. FOR
		ANY LYRICS YOU ARE UNSURE, PLEASE SELECT OR ADD CLOSEST TO WHAT YOU THINK
	</p>

	<form
		action="/songs/<%= song.id %>?_method=PUT"
		method="POST"
		class="song-form"
	>
		<% for(let i = 1; i <= song.lineCount; i++){ %>
		<div class="form-row">
			<!-- <p><%= i %>:</p> -->
			<div class="form-line" name="allFormItems">
				<select name="lyric">
					<% songLyrics.forEach((lyric)=>{ %> <% if(lyric.lineNumber === i){ %>
					<option selected value="<%= lyric.id %>">
						<p><%= lyric.lyric %></p>
					</option>
					<% }%> <% }) %>
				</select>
				<input
					type="text"
					name="lyric"
					placeholder="type new lyric here"
					class="input-create hide"
				/>
				<i class="far fa-edit add-new-line-btn"></i>
				<i class="fas fa-undo-alt add-new-line-btn hide"></i>
			</div>
		</div>
		<%}%>
		<div class="btn-row form-btn-row">
			<!-- <a class="btn btn-danger" href="/songs/<%= song.id %>">Cancel</a> -->
			<a class="btn btn-danger" href="/songs">Cancel</a>
			<button class="btn btn-primary" type="submit">Update</button>
		</div>
	</form>
</div>

<script>
	// display new lyric input onclick change lyric
	const changeBtns = document.querySelectorAll('.add-new-line-btn');
	// console.log('btns', changeBtns);

	changeBtns.forEach((btn) => {
		btn.addEventListener('click', (e) => {
			// console.log('e', e);

			// console.log(e.target.parentElement.firstElementChild);
			// console.log(e.target.parentElement.lastElementChild);

			e.target.parentElement.childNodes[1].classList.toggle('hide');
			e.target.parentElement.childNodes[3].classList.toggle('hide');
			e.target.parentElement.childNodes[5].classList.toggle('hide');
			e.target.parentElement.childNodes[7].classList.toggle('hide');
		});
	});
</script>
