<a class="btn btn-add" href="/line/new">Add line</a>

<div class="line-row">
	<div class="line-title"><%= line %></div>
	<div class="line-title"><%= lines[0].lyricsInLine %></div>
	<div class="line-title"><%= lyrics[0].lyric %></div>
	<div class="line-title"><%= line.lyricsInLine %></div>

	<ul>
		<% lyrics.forEach((lyric)=>{ %>
		<li><%= lyric.lyric %></li>
		<% }) %>
	</ul>

	<div class="btn-row">
		<a class="btn btn-primary" href="/line/<%= line.id %>">View</a>
		<a class="btn btn-primary" href="/line/<%= line.id %>/edit">Edit</a>
		<%- include('../partials/deleteForm', {url: `/line/${line.id}` }) %>
	</div>
</div>
