<a class="btn btn-add" href="/line/new">Add line</a>


<ul class="line-list">
	<li> 1 <%= line %></li>
	<li> 2  <%= line.lyrics %></li>
	<li></li>
</ul>


	<!-- 
	<ul>
		<% lyrics.forEach((lyric)=>{ %>
		<li><%= lyric.lyric %></li>
		<% }) %>
	</ul> -->

	<div class="btn-row">
		<a class="btn btn-primary" href="/line/<%= line.id %>">View</a>
		<a class="btn btn-primary" href="/line/<%= line.id %>/edit">Edit</a>
		<%- include('../partials/deleteForm', {url: `/line/${line.id}` }) %>
	</div>
</div>
