<div class="page-header">
	<h2 class="page-title"><%= song.title %></h2>
	<div class="header-wrapper">
		<div class="blank"><%= song.lineCount %> \ <%= song.id %></div>
		<h3 class="artist-name">terrorvision</h3>
	</div>
</div>

<div class="page-content">
	<form
		action="/songs/<%= song.id %>?_method=PUT"
		method="POST"
		class="song-form"
	>
		<% for(let i = 1; i <= song.lineCount; i++){ %>
		<div class="form-row">
			<!-- <p><%= i %>:</p> -->
			<div class="form-line" name="allFormItems">
				<select name="lyric">
					<% songLyrics.forEach((lyric)=>{ %> <% if(lyric.lineNumber === i){ %>
					<option selected value="<%= lyric.id %>">
						<p><%= lyric.lyric %></p>
					</option>
					<% }%> <% }) %>
				</select>
				<input
					type="text"
					name="lyric"
					placeholder="type new lyric here"
					class="input-create hide"
				/>
				<i class="far fa-edit add-new-line-btn"></i>
				<i class="fas fa-undo-alt add-new-line-btn hide"></i>
			</div>
		</div>
		<%}%>
		<div class="btn-row form-btn-row">
			<a class="btn btn-danger" href="/songs/<%= song.id %>">Cancel</a>
			<button class="btn btn-primary" type="submit">Update</button>
		</div>
	</form>
</div>

<script>
	// display new lyric input onclick change lyric
	const changeBtns = document.querySelectorAll('.add-new-line-btn');
	console.log('btns', changeBtns);

	changeBtns.forEach((btn) => {
		btn.addEventListener('click', (e) => {
			// console.log('e', e);

			// console.log(e.target.parentElement.firstElementChild);
			// console.log(e.target.parentElement.lastElementChild);

			e.target.parentElement.childNodes[1].classList.toggle('hide');
			e.target.parentElement.childNodes[3].classList.toggle('hide');
			e.target.parentElement.childNodes[5].classList.toggle('hide');
			e.target.parentElement.childNodes[7].classList.toggle('hide');
		});
	});

	// working below
	// console.log('middleware script');
	// console.log('song', '<%= song.title %>', '<%= song.id %>');
	// const songId = '<%= song.id %>';
	// console.log('song id', songId);
	// const formLines = document.querySelectorAll('.form-line');

	// let newAline = {
	// 	songId: songId,
	// };

	// const getLines = () => {
	// 	formLines.forEach((line, index) => {
	// 		console.log(line);
	// 		// get lineNo, from line index
	// 		const lineNumber = index + 1;
	// 		console.log('line number', lineNumber);
	// 		if (line.lastElementChild.value !== '') {
	// 			console.log('new text', line.lastElementChild.value);
	// 		} else {
	// 			console.log('selected text', line.firstElementChild.value);
	// 		}
	// 	});
	// };
</script>
