<h2 class="page-header"><%= song.title %></h2>
<!-- <h2 class="page-header"><%= song.lineCount %> Lines</h2> -->
<!-- <h2 class="page-header"><%= song.id %> song id</h2> -->

<div>
	// this one is working <% for(let i = 1; i <= song.lineCount; i++){ %>
	<div class="form-row">
		<!-- <p><%= i %>:</p> -->
		<div class="form-line">
			<select name="lyric">
				<% songLyrics.forEach((lyric)=>{ %> <% if(lyric.lineNumber === i){ %>
				<option selected value="<%= lyric.id %>">
					<p><%= lyric.lyric %></p>
				</option>
				<% }%> <% }) %>
			</select>

			<input
				type="text"
				name="lyric"
				placeholder="add new lyric here, if different"
				class="input-create"
			/>
		</div>
	</div>
	<%}%>
</div>
<div class="form-row form-row-end btn-row">
	<a class="btn btn-danger" href="/songs/<%= song.id %>">Cancel</a>
	<button class="btn btn-primary" type="submit">Update</button>
</div>
