<div class="page-header">
	<h2 class="page-title"><%= song.title %></h2>
	<div class="header-wrapper">
		<div class="blank"><%= song.lineCount %> \ <%= song.id %></div>
		<h3 class="artist-name">terrorvision</h3>
	</div>
</div>
<div class="page-content">
	<p class="instructions">
		these lyrics are voted the most accurate for this song
	</p>

	<!-- <form
		action="/lines/<%= song.id %>?_method=PUT"
		method="POST"
		class="song-form"
	> -->
	<!-- <% for(let i = 1; i <= song.lineCount; i++){ %> <% let lineArr = [] %>
	<div class="lyric-line-row">
		<p><%= i %>:</p>
		<% songLyrics.forEach((lyric)=>{ %> <% if(lyric.lineNumber === i){ %> <%
		lineArr.push(lyric) %> <% }%> <% }) %>
		<input
			type="text"
			name="lyric"
			class="lyric-line"
			value="<%= lineArr[0].lyric %>"
		/>
		<input
			type="text"
			name="lyricId"
			class="lyric-id"
			value="<%= lineArr[0].id %>"
		/>
		<i class="fas fa-thumbs-up"></i>
		<span class="blue"><%= lineArr[0].likeCount %></span>
	</div>
	<%}%>
	<div class="btn-row form-btn-row">
		 <a class="btn btn-danger" href="/songs/<%= song.id %>">Cancel</a> 
		<a class="btn btn-edit" href="/songs/<%= song.id %>/edit">Edit</a>
		<button class="btn btn-primary" onclick="getLines()">agree</button>
		<button class="btn btn-primary" type="submit">agree</button> 
	</div> -->

	<div class="lyric-list-container">
		<% for(let i = 1; i <= song.lineCount; i++){ %> <% let lineArr = [] %>
		<div class="lyric-line-row">
			<p><%= i %>:</p>
			<% songLyrics.forEach((lyric)=>{ %> <% if(lyric.lineNumber === i){ %> <%
			lineArr.push(lyric) %> <% }%> <% }) %>
			<p class="lyric-line"><%= lineArr[0].lyric %></p>
			<i class="fas fa-thumbs-up"></i>
			<span class="blue"><%= lineArr[0].likeCount %></span>
		</div>
		<%}%>
	</div>

	<div class="btn-row">
		<a class="btn btn-edit" href="/songs/<%= song.id %>/edit">Edit</a>
		<a class="btn btn-primary" href="/songs">Agree</a>
	</div>
</div>

<!-- <div class="btn-row">
	<a class="btn btn-primary" href="/songs/<%= song.id %>/edit">Edit</a>
	<%- include('../partials/deleteForm', {url: `/songs/${song.id}` }) %>
</div> -->

<script>
	function getLines() {
		const lines = document.querySelectorAll('.lyric-id');
		console.log(lines);
		lines.forEach((line) => {
			console.log(line.value);
		});
	}
</script>
