<h2 class="page-header"><%= song.title %></h2>
<!-- <h2 class="page-header"><%= song.lineCount %> Lines</h2> -->
<!-- <h2 class="page-header"><%= song.id %> song id</h2> -->



<br/>

<% for(let i = 1; i <= song.lineCount; i++){ %>
	<% let lineArr = [] %>
	<div class="lyric-line-row">
		<p><%= i %>:</p>
	
			
			<% songLyrics.forEach((lyric)=>{ %>
		
				<% if(lyric.lineNumber === i){ %>

					<% console.log('i',i, lyric.lineNumber) %>
					<% lineArr.push(lyric) %>
				
				<% }%>
		
			<% console.log('line arr' , i,lineArr) %>
			<% }) %>

			<% console.log('here') %>
			<p class="lyric-line"><%= lineArr[0].lyric %></p>
			<i class="fas fa-thumbs-up"></i>
			<span class="blue"><%= lineArr[0].likeCount %></span>
		
				<% console.log('out here') %>
	
	</div>	
	
<%}%>


</div>



<div class="btn-row">
	<a class="btn btn-primary" href="/songs/<%= song.id %>/edit">Edit</a>
	<%- include('../partials/deleteForm', {url: `/songs/${song.id}` }) %>
</div>