<h2 class="page-header"><%= song.title %></h2>
<h2 class="page-header"><%= song.lineCount %> Lines</h2>

<div>
	<br />

	<!-- works -->

	<ul>
		<% song.lyricLines.forEach((line) => { %>
		<li>
			line <%= line.lyricsInLine[0].lineNumber %> - <%=
			line.lyricsInLine[0].lyric %> - Likes <%= line.lyricsInLine[0].likeCount
			%>
		</li>
		<% }) %>
	</ul>

	<br />

	<ul>
		<% song.lyricLines.forEach((lyric)=>{ %>
		<li>
			<form action="/lyric" method="POST" class="form-grow">
				<div class="form-row">
					<label><%= lyric.lyricsInLine[0].lineNumber %>:</label>&nbsp;
					<input
						type="text"
						name="lyric"
						value="<%= lyric.lyricsInLine[0].lyric %>"
					/>
					&nbsp;<i class="fas fa-thumbs-up"></i>
					<span class="blue"><%= lyric.lyricsInLine[0].likeCount %></span>

					<div class="btn-grid">
						<button class="btn btn-primary" type="submit">Create</button>
					</div>
				</div>
			</form>
		</li>
		<% }) %>
	</ul>

	<br />
	<ul>
		<% song.lyricLines.forEach((lyric)=>{ %>
		<li>
			<form action="/lyric" method="POST" class="form-grow">
				<div class="form-row">
					<p><%= lyric.lyricsInLine[0].lineNumber %>:</p>
					&nbsp;
					<select name="lyric">
						<% lyric.lyricsInLine.forEach(lyric => { %> <% if(lyric.id ===
						song.lyric) { %>
						<option selected value="<%= lyric.id %>">
							<p><%= lyric.lyric %><span><%= lyric.likeCount %></span></p>
						</option>
						<% } else { %>
						<option value="<%= lyric.id %>">
							<p><%= lyric.lyric %> here<span><%= lyric.likeCount %></span></p>
						</option>
						<% } %> <% }) %>
					</select>
					<input
						type="text"
						name="lyric"
						value="<% lyric.lyricsInLine[0].lyric %>"
						placeholder="add new lyric here, if not listed above"
						class="input-create"
					/>
					<div class="btn-grid">
						<button class="btn btn-primary" type="submit">Create</button>
					</div>
				</div>
			</form>
		</li>
		<% }) %>
	</ul>
</div>

<div class="btn-row">
	<a class="btn btn-primary" href="/songs/<%= song.id %>/edit">Edit</a>
	<%- include('../partials/deleteForm', {url: `/songs/${song.id}` }) %>
</div>
