<div class="form-row">
	<div class="form-item">
		<label>First Name</label>
		<input type="text" name="firstName" value="<%= user.firstName %>" />
	</div>
</div>

<div class="form-row">
	<div class="form-item">
		<label>Last Name</label>
		<input type="text" name="lastName" value="<%= user.lastName %>" />
	</div>
</div>

<div class="form-row">
	<div class="form-item">
		<label>Date of Birth</label>
		<input
			type="date"
			name="dateOfBirth"
			value="<%= user.dateOfBirth == null ? '' : user.dateOfBirth.toISOString().split('T')[0] %>"
		/>
	</div>
</div>

<div class="form-row">
	<div class="form-item">
		<label>Username</label>
		<input type="text" name="username" value="<%= user.username %>" />
	</div>
</div>
<div class="form-row">
	<div class="form-item">
		<label>Email</label>
		<input type="text" name="email" value="<%= user.email %>" />
	</div>
</div>
<div class="form-row">
	<div class="form-item">
		<label>Password</label>
		<input type="password" name="password" />
	</div>
</div>
<div class="form-row">
	<div class="form-item">
		<label>Mobile Number</label>
		<input type="text" name="phoneNbr" value="0<%= user.phoneNbr %>" />
	</div>
</div>
<div class="form-row">
	<div class="form-item">
		<label>Notifications</label>
		<input
			type="checkbox"
			name="notifications"
			value="<%= user.notifications %>"
		/>
	</div>
</div>

<div class="form-row">
	<div class="form-item form-item-no-grow">
		<label>Profile Pic</label>
		<input type="file" name="cover" class="person-cover filepond" />
	</div>
</div>
