<div class="new-route-btn-container hide">
	<a href="/users/new" class="btn btn-new">
		<p>user</p>
		<i class="fas fa-plus-circle"></i>
	</a>
</div>

<h1>LET ME KNOW IF YOU SEE THIS PAGE</h1>

<div class="user-show-container">
	<div class="user-show-wrapper">
		<div class="user-section-wrapper">
			users - index
			<!-- <img
				src="<%= user.coverImagePath%>"
				class="person-cover show-profile-pic"
			/>
			<h2 class="user-name"><%= user.firstName %> <%= user.lastName %></h2> -->
		</div>

		<div class="user-contact-wrapper user-section-wrapper">
			<table class="user-table">
				<caption>
					all users
				</caption>
				<thead>
					<th></th>
					<th class="left">email</th>
					<th>joined</th>
					<th class="left">username</th>
					<th>songs</th>
					<th>lyrics</th>
				</thead>
				<tbody>
					<% users.forEach((user,index)=> { %>
					<tr class="table-row">
						<td class="right user-table-cell"><%= index +1 %></td>
						<td class="height user-table-value"><%= user.email %></td>
						<td class="height center user-table-value">
							<%= user.createdAt.toLocaleDateString() %>
						</td>

						<td class="height user-table-value"><%= user.username %></td>
						<td class="height right user-table-value">
							<%= user.songsCreated.length %>
						</td>
						<td class="height right user-table-value">
							<%= user.linesCreated.length %>
						</td>
					</tr>
					<%})%>
				</tbody>
			</table>
		</div>
	</div>
</div>
