<div class="user-show-container">
	<div class="user-show-wrapper">
		<div class="user-section-wrapper">
			<% if(user.coverImagePath) { %>
			<img
				src="<%= user.coverImagePath %>"
				alt="profile pic"
				class="person-cover show-user-profile-pic user-pp"
			/>
			<% } else { %>
			<img
				src="/images/profile-pic.png"
				alt="profile pic"
				class="person-cover show-user-profile-pic user-pp"
			/>
			<% } %>

			<h2 class="user-name">
				<%= user.username ? user.username : 'no username' %>
			</h2>
		</div>

		<div class="user-contact-wrapper user-section-wrapper">
			<table class="user-table">
				<!-- <caption>
					account details - mandatory
				</caption> -->
				<tbody>
					<tr class="table-row">
						<td class="right user-table-cell">email:</td>
						<td class="height user-table-value"><%= user.email %></td>
					</tr>
					<tr class="table-row">
						<td class="right user-table-cell">username:</td>
						<td class="height user-table-value"><%= user.username %></td>
					</tr>
					<!-- <tr class="table-row">
						<td class="right user-table-cell">username:</td>
						<td class="height user-table-value">********</td>
					</tr> -->
				</tbody>
			</table>
		</div>

		<div class="user-section-wrapper user-metrics-wrapper">
			<div class="metric-wrapper">
				<p class="metric-title">Songs added</p>
				<p class="metric-count"><%= user.songsCreated.length %></p>
			</div>
			<div class="metric-wrapper">
				<p class="metric-title">Lyrics added</p>
				<p class="metric-count"><%= user.linesCreated.length %></p>
			</div>
		</div>

		<div class="user-section-wrapper">
			<ul class="user-song-list">
				<% user.songsCreated.forEach((song) => { %>
				<li><a href="/songs/<%= song.id %>"><%= song.title %></a></li>
				<%}) %>
			</ul>
		</div>

		<div class="user-section-wrapper hide">
			<table class="user-table">
				<caption>
					app preferences
				</caption>
				<tbody>
					<tr class="table-row">
						<td class="right user-table-cell">notifications:</td>
						<td class="height user-table-value">
							<%= user.notifications === true ? 'on' : 'off' %>
						</td>
					</tr>
					<tr class="table-row">
						<td class="right user-table-cell">color theme:</td>
						<td class="height user-table-value">not available</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="btn-row hide">
		<!-- <a class="btn btn-primary" href="/songs">Songs</a> -->
		<a class="btn btn-primary" href="/users/<%= user.id %>/edit">Edit</a>
		<!-- <%- include('../partials/deleteForm', {url: `/users/${user.id}` }) %> -->
	</div>
</div>

<!-- <div class="user-show-container">
	<div class="user-show-wrapper">
		<div class="user-section-wrapper">
			users - index
			 <img
				src="<%= user.coverImagePath%>"
				class="person-cover show-profile-pic"
			/>
			<h2 class="user-name"><%= user.firstName %> <%= user.lastName %></h2> 
		</div>

		<div class="user-contact-wrapper user-section-wrapper">
			<table class="user-table">
				<caption>
					mandatory
				</caption>
				<tbody>
					<tr class="table-row">
						<td class="right user-table-cell">email:</td>
						<td class="height user-table-value"><%= user.email %></td>
					</tr>
					<tr class="table-row">
						<td class="right user-table-cell">password:</td>
						<td class="height user-table-value">********</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="user-section-wrapper">
			<table class="user-table">
				<caption>
					for metrics and notifications - optional
				</caption>
				<tbody>
					<tr class="table-row">
						<td class="right user-table-cell">username:</td>
						<td class="height user-table-value"><%= user.username %></td>
					</tr>
					<tr class="table-row">
						<td class="right user-table-cell">date of birth:</td>
						<td class="height user-table-value">
							<% if(user.dateOfBirth) { %> <%=
							user.dateOfBirth.toLocaleDateString(); %> <%} else { %> 7th
							December <% } %>
						</td>
					</tr>
					<tr class="table-row">
						<td class="right user-table-cell">mobile:</td>
						<td class="height user-table-value"><%= user.phoneNbr %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="user-section-wrapper">
			<table class="user-table">
				<caption>
					app preferences
				</caption>
				<tbody>
					<tr class="table-row">
						<td class="right user-table-cell">notifications:</td>
						<td class="height user-table-value">
							<%= user.notifications === true ? 'on' : 'off' %>
						</td>
					</tr>
					<tr class="table-row">
						<td class="right user-table-cell">color theme:</td>
						<td class="height user-table-value">not available</td>
					</tr>
					<tr class="table-row">
						<td class="right user-table-cell">account created:</td>
						<td class="height user-table-value">
							<% if(user.createdAt) { %> <%= user.createdAt.toLocaleDateString()
							%> <%} else { %> error <% } %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="btn-row">
		<a class="btn btn-primary" href="/users/<%= user.id %>/edit">Edit</a>
		<%- include('../partials/deleteForm', {url: `/users/${user.id}` }) %>
	</div>
</div> -->
